<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="HidistroSqlServer" />
 <connectionStrings>
    <add name="HidistroSqlServer" connectionString="Data Source=USER-20151122HL\SQLEXPRESS;Initial Catalog =xkd;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAg496rDzRKU6YS1eojhkGawQAAAACAAAAAAAQZgAAAAEAACAAAAA7OVZrqUIRM8l502iKGUyFwRGnHQ7w1k+nzCrJc+IKPgAAAAAOgAAAAAIAACAAAABv+v2HR6Bgy5t46rG8Od03dDRPHg5uOcnQ+9A8LM7EtsABAAD5BnYm2nYGsCgcCnfzealXkimLpN5AP+7i1113/JfSeBtanmWnNJhHNYF/Qj27IOC5IGF4folQUyGcTcWO8TbZ9Me6mA/abVkaTR9BJKfaF+nYj39VtSqyjeJC/5X4jFgkEQo1VIzGrnKQdkTje/l42FZ+QN4zvSWksxXgo7hgK62quLzchf6Rt9v9MdX2BodDZMvQZVDxS/b6+9rq8bFnKhkRb73WkPRP2bYuys1ZHJYHKVf+SKU2I80qvF85T/CrIv3mcuZd+4ErwnOubztW3Igsu2yHbRT8ztgCuW4U2tE6sjz0Ho0O3OEhTPXeBY2dYm293Jg776QlWDy8N5yknhQagKdNon/dZNva2gtHMhckmz3id5xzQtAP+/rFEsat3Z3tp7B8MhD39LS82t6tukUEyhtdzwLKjSNFDJd2SKUIUz0vG8tzZTj6l3KXP6fzm9u46TRVsBT5ZwaaC8524dmtCHrC7NiGkK3C89fi1wiRc2kBOmk/AaN/XCJ8pl6Hy7JOve1mvgE4Yndvr8rVaLpKfLkmSSOf27toJUL2iR7HUK23t782g77AKVKY7vRupUMvy8NI0ieqIsfPn2KWQAAAAAS4TQ9439Ry47K16CanH3SLgpmRu9iZ80jcDct0TVUBjeOP0Mc6Q9MCVivZCuUE7Hoe62IFJUSASxjO5H3sWRQ=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>-->
  <appSettings>
    <add key="Kindeditor:BasePath" value="~/kindeditor/" />
    <add key="Kindeditor:FileCategoryJson" value="~/Admin/FileCategoryJson.aspx" />
    <add key="Kindeditor:FileManagerJson" value="~/Admin/FileManagerJson.aspx" />
    <add key="Kindeditor:UploadFileJson" value="~/Admin/UploadFileJson.aspx" />
    <add key="Key" value="opW0saFeN65JThjt5K8lAQ==" />
    <add key="IV" value="/E+7E5WN/Hw+XZu3ChTZOg==" />
  </appSettings>
  <system.web>

    <!--<sessionState mode="Off" />-->
    <machineKey validationKey="0F7A10A664D9501C86553F116E985FBF18B64790"
      decryptionKey="8BC28E42F8520DF553511C614F6B46AA32ACC9F45F55D124"
      validation="SHA1" decryption="3DES" />
    <pages buffer="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableSessionState="true" validateRequest="false" autoEventWireup="false" pageBaseType="Hidistro.UI.Common.Controls.HiPage, Hidistro.UI.Common.Controls" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <trace enabled="false" pageOutput="false" />
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="ResourceNotFound.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="RegionHandler.aspx" type="Hidistro.UI.Common.Controls.RegionHandler, Hidistro.UI.Common.Controls" />
      <add verb="*" path="UserStatisticeChart.aspx" type="Hidistro.UI.Common.Controls.UserStatisticeChart, Hidistro.UI.Common.Controls" />
      <add verb="*" type="Hidistro.UI.Common.Controls.UploadHandler,Hidistro.UI.Common.Controls" path="uploadHandler.aspx" />
      <add verb="*" path="PluginHandler.aspx" type="Hishop.Plugins.ConfigHandler, Hishop.Plugins" />
      <add verb="*" path="ExpressData.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.ExpressData, Hidistro.UI.SaleSystem.CodeBehind" />
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
    </httpHandlers>

    <authentication mode="Forms">
      <forms name=".Hidistro" protection="All" timeout="240" loginUrl="loginEntry.aspx" cookieless="AutoDetect" slidingExpiration="true" />
    </authentication>
    <webServices>
      <protocols>
        <remove name="HttpPost" />
        <remove name="HttpGet" />
        <remove name="HttpPostLocalhost" />
        <remove name="Documentation" />
        <remove name="Unknown" />
      </protocols>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
    <httpRuntime maxRequestLength="40960" executionTimeout="360" requestValidationMode="2.0" />

  </system.web>
  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="Hidistro.UI.Web.HiUsernameTokenManager,Hidistro.UI.Web" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
      </securityTokenManager>
      <timeToleranceInSeconds value="3600" />
    </security>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
     
      <add name="htm" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
</configuration>